.brands {
	padding-top: 110px;
	padding-bottom: 110px;
	@media (max-width: $breakpoint768) {
		padding-top: 0px;
	}
	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1040px;
		margin: 0 auto;
		column-gap: 120px;
		row-gap: 80px;
		flex-wrap: wrap;
	}

	&__card {
		max-width: 115px;
		max-height: 70px;
	}

	&__card-img {
	}
}
