.categories {
	padding-bottom: 110px;

	&__links {
		display: flex;
		justify-content: space-between;
		gap: 5px;
		@media (max-width: $breakpoint480) {
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;
		}
	}

	&__link {
		position: relative;
		transition: 0.3s all ease;
		&:hover {
			transform: scale(1.1);
			transition: 0.3s all ease;
		}
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		max-width: 220px;
		max-height: 280px;

		position: relative;
	}

	&__card-name {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;

		text-align: center;

		color: #ffffff;
		margin-bottom: 30px;
		position: absolute;
	}
	&__card-img {
		@media (max-width: $breakpoint992) {
			max-width: 170px;
			max-height: 230px;
		}
		z-index: -1;
	}
}
